/* ----- сброс ----- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнул€ем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устран€ем отступы между €чейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию дл€ элементов форм (в частности дл€ checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы дл€ текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* ----- /сброс ----- */

/* ----- базовые настройки ----- */
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #828282;
	
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: Myriad Pro, Arial, Helvetica, sans-serif;
}
a, a:visited { /* пор€док правил дл€ ссылок имеет значение */
	color: #239ec8;
	text-decoration: underline;
}
a:hover {
	color: #828282;
	text-decoration:none;
}
a:focus, a:active {
	color: #00a8ff;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

/* ----- /базовые настройки ----- */

/*1360-1166=194/2=97 ширина всего макета 1360, отступы до направляющих 97*2=194 1360-194=1166(максимальная ширина)
670(минимальная ширина)
1166x670

font-size: 0.75em; (12px/16=0.75)
#333333 - темный (заглавия)
#828282 - средний (основной текст, активные ссылки у рамок и серого текста, иконки)
#d3d3d2 - светлый (рамка)
#00a8ff - синий (ссылки) a6ce3a 8bb812*/

.main-top {
	max-width: 1166px; 
	margin: 0 auto; 
}

.header-top {
	padding: 20px 0 8px 0; 
    border-bottom: 1px solid #d3d3d2;
}

.logo{
	float: left;
	
}

.logo-text h1{
	float: left;
	font-size: 3.125em;
	font-weight: 700;
	padding: 8px 25px 25px 35px; 
	color: #239ec8;
	
}

.tel-basket{
	float: right;
}

.tel-basket p{
	float: left;
	font-size: 0.75em;
	font-weight: 700;
}

.tel-basket p img{
	margin-right: 4px;
	vertical-align: middle; 
}

.basket{
	border: 1px solid #d3d3d2;
	padding: 6px 24px;
	margin-left: 19px;
	margin-top: 22px;
}

.tel{
	margin-top: 29px;
}
.basket a {
	text-decoration: none;
	color: #828282;
	margin-left: 19px;
}

.basket a:hover {
	color: #00a8ff;
}

.header-bottom {
	padding: 13px 0; 
	max-width: 583px; 
	margin: 0 auto;
}


.menu li{
	float: left;
	margin-right: 35px;
	font-size: 14px;
	text-transform: uppercase;
}

.menu li a{
	text-decoration: none;
	color: #239ec8;
	font-weight: 700;
}

.menu li a:hover {
	color: #828282;
}

.active {
	color: #333333;
	font-weight: 700;
}

.unslider-nav {
	max-width: 1166px; 
	margin: 0 auto; 
	position: relative;
	top: -30px;
}
/* СЛАЙДЕР */
.my-slider ul li{
	position: relative; 	
}

.my-slider ul li h2{
	position: absolute;
	color: #d2a739;
	font-size: 3.125em; 
	left: 70px;
	top: 190px;
}

.my-slider ul li p{
	position: absolute;
	color: #647996;
	font-size: 1.875em; 
	left: 70px;
	top: 290px;
}

.main-middle3 article a img {
	border: 1px solid #d3d3d2;
	margin: 0 auto 18px auto;
	display: block;
}

.main-middle3 article a:hover img {
	border: 1px solid #333333;
	
}

.main-middle3 article a:hover  {
	color: #828282;
	text-decoration: none;
}

.main-middle3 article {
	width: 32.07%; 
	float: left;
	margin-right: 1.895%; 
}

.main-middle3 article:last-child {
	margin-right: 0; 
}

.main-middle3 article h2{
	font-size: 1.40625em; 
	margin-bottom: 10px; 
}

.main-middle3 {
	margin: 10px auto 65px auto; 
}

/* КАМЕРЫ */

.main-middle4-section {
	margin-bottom: 50px;
}

.main-middle4-section >h2 {
	font-size: 1.40625em; 
	text-align: center;
	color: #333333;
	margin-bottom: 45px;
}

.middle4-material {
	border-top: 1px solid #d3d3d2;
}

.middle4-article  article{
	border: 1px solid #d3d3d2;
	width: 22.9%; 
	float: left;
	margin-right: 2.45%; 
} 

.middle4-article article:last-child {
	margin-right: 0; 
}

.middle4-article article img{
	margin: 0 auto; 
	display: block;
}

.middle4-material {
	padding: 18px; 	
}

.middle4-material h2{
	font-size: 1.125em; 	
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.middle4-material h3{
	font-size: 0.875em; 	
	text-transform: uppercase;
	margin-bottom: 8px;
}

.middle4-material p{
	font-size: 0.625em; 
	margin-bottom: 12px;
}

p.cost-order {
	border-top: 1px solid #d3d3d2;
	font-size: 0.875em; 
	color: #333333;
	padding: 14px 0 0 0;
	margin-top: 14px;
}

.cost{
	float: left;
}

.order{
	float: right;
}

/* О компании  */

.map{
	margin-bottom: 50px;
}

.map article{
	float: left;
	width: 55%;
}

.map1{
	float: right;
	width: 40%;
}

.map article h1 {
	font-size: 1.40625em; 
	color: #239ec8;
	margin-bottom: 25px;
}

.map article p {
	font-size: 0.875em; 	
	color: #828282;
	margin-bottom: 20px;
}

.map-iframe{ 
	position: relative; 
	padding-bottom: 58%; 
	height: 0;
	overflow: hidden;
}

.map-iframe iframe {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
}

/*ФОРМА*/

.drivers {
	background: #d3d3d2; 
	color: #333333;
	padding: 28px 0;
}

.drivers h3 {
	float: left;
	font-size: 1.40625em;	
	text-transform: uppercase;
}

.drivers-form {
	float: right;
	margin: 16px 0 0 0;
}

.drivers-models {
	float: left;
	font-size: 0.875em;	
	width: 280px;
	padding: 6px 15px;
	border: none;
}

.drivers-submit {
	background: #333333;
	margin-left: 19px;
	float: left;
	font-size: 0.875em;	
	padding: 6px 15px;
	border: none;
	color: #239ec8;
	cursor: pointer;
}

/* ФУТЕР */

.foot {
	background: #333333; 
	padding: 38px 0;
}

.foot .middle4-article article{
	border: none;
}

.foot h2 {
	color: #239ec8;
	font-size: 1.40625em;	
	text-transform: uppercase;
	margin-bottom: 9px;
}

.foot p a {
	color: #d3d3d2;
	font-size: 0.875em;	
	text-decoration: none;
	display: block;
}

.foot p a:hover {
	color: #239ec8;	
	text-transform: underline;
}

.foot h3 {
	color: #d3d3d2;
	margin-top: 15px;
}

.foot-email {
	width: 100%;
	font-size: 0.75em;	
	text-transform: uppercase;
	padding: 6px 15px;
	margin-bottom: 14px;
	box-sizing: border-box;
	border: none;
}

.foot-textarea {
	width: 100%;
	font-size: 0.75em;	
	text-transform: uppercase;
	padding: 6px 15px;
	margin-bottom: 14px;
	box-sizing: border-box;
	border: none;
}

.foot-submit {
	color: #239ec8;
	font-size: 0.75em;	
	text-transform: uppercase;
	padding: 6px 15px;
	margin-bottom: 14px;
	border: none;
	background: #d3d3d2; 
	cursor: pointer;
	font-weight: bold;
}

@media screen and (max-width: 970px) {
.drivers h3 {
	float: none;
	text-align: center;
}

.drivers-form {
	float: none;
	margin: 16px auto 0 auto;
	display: table;
}
}

@media screen and (max-width: 780px) {
.middle4-article  article{
	width: 45%;
	margin: 0 1.5% 25px 1.5%; 
} 

.middle4-article article:last-child {
	margin: 0 1.5% 25px 1.5%; 
}
}

@media screen and (max-width: 685px) {
.search-top{
	float: right;
	border-top: 1px solid #d3d3d2;
	border-bottom: 1px solid #d3d3d2;
	padding: 6px 0;
}
.my-slider ul li h1{
	font-size: 2em; 
	top: 80px;
}

.my-slider ul li p {
	font-size: 1.3em;
	top: 120px;
}
.map article{
	float: none;
	width: 95%;
	margin: 0 2.5% 25px 2.5%;
}

.map1{
	float: none;
	width: 95%;
	margin: 0 2.5% 25px 2.5%;
}
}

@media screen and (max-width: 600px) {
.main-middle3 article {
	width: 95%; 
	float: none;
	margin: 0 2.5% 25px 2.5%;
}

.main-middle3 article:last-child {
	margin: 0 2.5% 25px 2.5%;
}

.main-middle3 article h2{
	text-align: center;
}

.main-middle3 article p{
	text-align: center;
}

.main-middle3 article img{
	width: 95%; 
}
}

@media screen and (max-width: 405px) {
.header-top {
	padding: 5px 0 20px 0; 	
}

.logo{
	float: none;
	margin: 0 auto 1% auto;
	display: table;
}

.tel-basket{
	float: none;
	margin: 0 auto 1% auto;
	display: table;
}
}

@media screen and (max-width: 390px) {
.my-slider ul li h1{
	font-size: 1.8em; 
	top: 30px;
}

.my-slider ul li p {
	font-size: 1.3em;
	top: 70px;
	color: #0080FF;
}

.middle4-article  article{
	width: 95%;
	margin: 0 2% 25px 2%; 
} 

.middle4-article article:last-child {
	width: 95%;
	margin: 0 2% 25px 2%;  
}
}

@media screen and (max-width: 315px) {
.basket{
	padding: 4px 10px;
	margin-left: 10px;
}

.my-slider ul li h1{
	font-size: 1.5em; 
	top: 20px;
	left: 20%
}

.my-slider ul li p {
	font-size: 1em;
	top: 50px;
	color: #0080FF;
	left: 20%
}

.drivers {
	padding: 15px 0;
}

.drivers-form {
	float: none;
	margin: 16px auto 0 auto;
	display: table;
}

.drivers-models {
	float: njne;
	width: 95%;
	margin: 0 2.5% 10px 2.5%; 
}

.drivers-submit {
	margin: 2.5%;
}
}





