/* ----- сброс ----- */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* ----- /сброс ----- */

/* ----- базовые настройки ----- */
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #828282;
	text-align: left;
	font-size: 1em;
	min-height:100%;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
a, a:visited { 
	color: #d2a739;
	text-decoration: underline;
}
a:hover {
	color: #00a8ff;
	text-decoration:none;
}
a:focus, a:active {
	color: #00a8ff;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* ----- /базовые настройки ----- */


/*     динамика, выполненна на стилях CSS3       <!-----      23.3         ----->   */
@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.swaying:hover {
  animation: swing 1.5s ease;
  animation-iteration-count: 1;
}
.three:hover {
  text-shadow: 1px 1px #298A08, 2px 2px gold, 3px 3px #298A08, 5px 5px #fff;
  -webkit-transform: translateX(5px);
  transform: translateY(-5px);
}
/*     /динамика, выполненна на стилях CSS3       <!-----    /  23.3         ----->   */


.head {
	background: rgba(7,7,7,0.3); 
	position: fixed; 
	z-index: 200; 
	width: 100%; 
}

.main-top {
	max-width: 1166px; 
	margin: 0 auto; 
}

.header-top {
	padding: 15px 0 20px 15px 
}

.logo{
	float: left;
}

.header-bottom {
	padding: 11px 0; 
}

.menu{
	float: right;
}

.menu li{
	float: left;
	margin-right: 28px;
	font-size: 14px;
	text-transform: uppercase;
	margin-top: 18px;
}

.menu li a{
	text-decoration: none;
	color: #FFFFFF;
	font-weight: 700;
}

.menu li a:hover {
	color: #00a8ff;
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 3px;
}

.active {
	color: #FFFFFF;
	font-weight: 700;
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 3px;
}
/* СЛАЙДЕР */
.unslider-nav {
	max-width: 1166px; 
	margin: -19px auto 0 auto; 
	position: relative;
	top: -20px;
}

.my-slider ul li img{
	width: 100%; 
}

.slide1{
	background: url(images/slide1.jpg) center top no-repeat; /*замена фото слайдера*/
	background-size: cover;
	padding-top: 54.3%;
}

.slide2{
	background: url(images/slide2.jpg) center top no-repeat; 
	background-size: cover;
	padding-top: 54.3%;
}

.slide3{
	background: url(images/slide3.jpg) center top no-repeat; 
	background-size: cover;
	padding-top: 54.3%;
}
/* СЛАЙДЕР */
.main-middle3-all {
	background: #f1f1f1;
	border-bottom: 2px solid #828282;
	padding: 50px 0 40px 0;
}

.main-middle3-all h3, .main-middle4-section h3 {
	color: #d2a739;
	font-size: 1.125em; 
	text-align: center;
}

.main-middle3-all hr, .main-middle4-section hr {
	width: 50%;
	height: 2px;
	margin: 15px auto;
	border: 0;
	background: linear-gradient(to right,rgba(210,167,57,0)0%,rgba(210,167,57,0.7)50%,rgba(210,167,57,0)100%);
}

.main-middle3-all h2, .main-middle4-section h2 {
	color: #828282;
	font-size: 2.1875em; 
	text-align: center;
	margin-bottom: 50px;
}

.main-middle3 article a img {
	margin: 0 auto 18px auto;
	display: block;
}

.main-middle3 article a:hover img {
	opacity: 0.8; 	
}

.main-middle3 article a {
	font-size: 1.125em; 
	text-transform: uppercase;
}

.main-middle3 article p, .middle4-material p {
	text-align: center;
	font-size: 0.75em;
	line-height: 1.6; 
}

.gold-text {
	color: #d2a739;
	font-size: 1.425em; 
}



.main-middle3 article a:hover  {
	color: #00a8ff;
	text-decoration: none;
}

.main-middle3 article {
	width: 32.07%; 
	float: left;
	margin-right: 1.895%; 
}

.main-middle3 article:last-child {
	margin-right: 0; 
}

.main-middle3 article h2, .middle4-material h2 a {
	font-size: 1.125em; 
	margin-bottom: 10px; 
}

.main-middle3 {
	margin: 10px auto 65px auto; 
}

/* Мобильность без границ */

.main-middle4-section {
	margin: 50px auto;
}

.main-middle4-section h3{
	font-size: 1.125em;
}

.middle4-article  article{
	width: 22.9%; 
	float: left;
	margin-right: 2.45%; 
} 

.middle4-article article:last-child {
	margin-right: 0; 
}

.middle4-article article img{
	border: 1px solid #828282;
	border-radius: 7px; 
	margin: 0 auto; 
	display: block;
}

.middle4-material {
	padding: 18px; 	
}

.middle4-material h2{
	font-size: 1.125em; 
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 4px;
}

.middle4-material h3{
	font-size: 0.875em; 
	text-transform: uppercase;
	margin-bottom: 8px;
}

.middle4-material p{
	font-size: 0.625em; 
	margin-bottom: 12px;
}

/* VIDEO */

.video-apple {
	background: url(images/apple.jpg) center top no-repeat; 
	padding: 40px 0 16px 0; 
	background-size: cover; 
}

.video-center {
	text-align: center;
	color: #00a8ff;
	margin: 0 auto; 
}

.video-center img{
	cursor: pointer; 
}

.video-center h2{
	font-size: 2.1875em; 
	margin: 30px auto 40px auto; 
}

.video-center p{
	font-size: 1.125em; 	
	padding: 40px 0 40px 0;
    line-height: 2; 	
}

.map-iframe{ 
	position: relative; 
	padding-bottom: 58%; 
	height: 0;
	overflow: hidden;
}

.map-iframe iframe {
	position: absolute;
	left: 0;
	top: 0px;
	width: 100%;
	height: 100%;
}
/*ЗАКАЗАТЬ*/

.drivers {
	background: #828282; 
	color: #ffffff;
	padding: 28px 0;
	text-align: center;
}

.drivers h3 {
	font-size: 3.375em;	
}

a.order-naw {
	color: #ffffff;
	font-size: 1.25em;	
	text-decoration: none;
	display: inline-block; 
	border: 2px solid #ffffff;
	padding: 18px;
	border-radius: 5px; 
	font-weight: 500;
	margin-top: 25px;
}

a:visited.order-naw {
	color: #ffffff;
	border: 2px solid #ffffff;
}

a:hover.order-naw {
	color: #00a8ff;
	border: 2px solid #00a8ff;
}

a:active.order-naw { 
	color: #ffffff;
	border: 2px solid #ffffff;
}
/* ФОРМА */
.contakt-apple { 
	position: relative; 
	height: 710px;
	opacity: 0.9
}

.contakt-form {
	position: absolute;
	bottom: 170px;
	width: 300px;
	left: 50%;
	background: rgba(0,128,0,0.6); 
	padding: 28px 28px 24px 28px;
	margin-left: -150px;
	box-sizing: border-box; 
	border-radius: 4px; 
}

.contakt-form  h2 {
	color: #FFFFFF;
	font-size: 2.187em;	
	text-align: center;
	margin-bottom: 18px;
}

.foot-email {
	width: 100%;
	font-size: 0.812em;	
	padding: 6px 15px;
	margin-bottom: 14px;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	color: #828282; 
	text-align: center;
}

.foot-textarea {
	width: 100%;
	font-size: 0.812em;	
	padding: 6px 15px;
	margin-bottom: 14px;
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	color: #828282; 
	text-align: center;
	height: 130px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.foot-submit {
	color: #ffffff;
	font-size: 0.812em;	
	background: #333333; 
	padding: 6px 15px;
	margin-bottom: 14px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	text-align: center;
	margin: 0 auto;
	display: block; 
}

/* ФУТЕР */

.foot {
	background: #333333; 
	padding: 38px 0;
}

.foot .middle4-article article{
	border: none;
}

.foot p a {
	color: #d3d3d2;
	font-size: 0.875em;	
	text-decoration: none;
	display: block;
}

.foot p a:hover {
	color: #00a8ff;	
	text-transform: underline;
}

.bounce {
	animation-iteration-count: infinite;
}

@media screen and (max-width: 970px) {
.my-slider ul li h1{
	font-size: 25px; 
	margin-bottom: 10px;
}

.my-slider ul li p {
	font-size: 18px; 
}

.my-slider ul li p span {
	font-size: 14px; 
	margin-top: 10px;	
}

.download-top {
	padding: 14px 35px;
}	
	
	
.drivers h3 {
	float: none;
	text-align: center;
}

.drivers-form {
	float: none;
	margin: 16px auto 0 auto;
	display: table;
}
}

@media screen and (max-width: 780px) {
.middle4-article  article{
	width: 45%;
	margin: 0 1.5% 25px 1.5%; 
} 

.middle4-article article:last-child {
	margin: 0 1.5% 25px 1.5%; 
}
}

@media screen and (max-width: 685px) {
.search-top{
	float: right;
	border-top: 1px solid #d3d3d2;
	border-bottom: 1px solid #d3d3d2;
	padding: 6px 0;
}
.my-slider ul li h1{
	font-size: 20px; /*замена на пиксели чтоб не пропадал текст заголовка*/
	top: 80px;
}

.my-slider ul li p {
	font-size: 15px;
	top: 120px;
}

.download-top {
	padding: 10px 25px;
}

.map article{
	float: none;
	width: 95%;
	margin: 0 2.5% 25px 2.5%;
}

.map1{
	float: none;
	width: 95%;
	margin: 0 2.5% 25px 2.5%;
}
}

@media screen and (max-width: 600px) {
.head { 
	position: relative; /* фиксед изменили чтоб меню не наползало на слайдер */
} 

.slider-cover {
	left: 4%;
	top: 8%;
}

.main-middle3 article {
	width: 95%; 
	float: none;
	margin: 0 2.5% 25px 2.5%;
}

.main-middle3 article:last-child {
	margin: 0 2.5% 25px 2.5%;
}

.main-middle3 article h2{
	text-align: center;
}

.main-middle3 article p{
	text-align: center;
}

.main-middle3 article img{
	width: 95%; 
}

.slide3{
	background: url(images/slide315.jpg) center top no-repeat; /*замена фотоменьшего размера слайдера */
	background-size: cover;
	padding-top: 54.3%;
}
}

@media screen and (max-width: 505px) {
.my-slider ul li h1{
	font-size: 18px; 
}

.my-slider ul li p span {
	font-size: 0em; 
}

.download-top {
	padding: 5px 15px;
}
}	
		
@media screen and (max-width: 405px) {
.header-top {
	padding: 5px 0 20px 0; 	
}

.logo{
	float: none;
	margin: 0 auto 1% auto;
	display: table;
}

.tel-basket{
	float: none;
	margin: 0 auto 1% auto;
	display: table;
}
}

@media screen and (max-width: 390px) {
.my-slider ul li h1{
	font-size: 18px; 
}

.my-slider ul li p {
	font-size: 13px;
}

.middle4-article  article{
	width: 95%;
	margin: 0 2% 25px 2%; 
} 

.middle4-article article:last-child {
	width: 95%;
	margin: 0 2% 25px 2%;  
}
}

@media screen and (max-width: 315px) {
.basket{
	padding: 4px 10px;
	margin-left: 10px;
}

.my-slider ul li h1{
	font-size: 20px; 
}

.my-slider ul li p {
	font-size: 1em;
	top: 50px;
	color: #0080FF;
	left: 20%
}

.drivers {
	padding: 15px 0;
}

.drivers-form {
	float: none;
	margin: 16px auto 0 auto;
	display: table;
}

.drivers-models {
	float: njne;
	width: 95%;
	margin: 0 2.5% 10px 2.5%; 
}

.drivers-submit {
	margin: 2.5%;
}
}
