
.nav-justified {

    background-color: #eee;
   
    border-radius: 5px;

}
.nav-justified {

    width: 100%;

}
.nav-justified > li > a {

    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    background-color: #000000;
}

 
ul, ol {

    margin-top: 0;
    margin-bottom: 10px;

}
.text-muted {
    color: #FFFFFF;
}

 h1, .h1, h2, .h2 {
	
    margin-top: 20px;
    margin-bottom: 10px;

}
 h3 > a {
	 
	 color: white;
     	 
 }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {

    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: #000000
}
 .thumbnail {
	 background-color: #808080;
 }
 .caption {
	 background-color: #000000; 
	 
 }

.row {
   
    margin-left: -15px;
    margin-right: -15px;

}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    
    
 }
  
 .navbar-brand {
    float: left;
    padding: 15px;
    font-size: 28px;
    line-height: 20px;
    height: 50px;
	color: white;

}
 .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
 }


 .container .row {
	 margin-top: 50px;
	 
 }
  
 .list-unstyled {
	
	color: black;
    
 }
 
 li > a{
	color:#778899; 
 }
 
 
 